<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<div class="main-dev">
  <mat-card class="register-card">
    <mat-card-content>
      <form class="register-form">
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input [formControl]="firstName" matInput placeholder="First name" name="fname" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input [formControl]="lastName" matInput placeholder="Last Name" name="lname" required>
        </mat-form-field>        
        <mat-form-field class="full-width">
          <mat-label>User Name</mat-label>
          <input [formControl]="username" matInput placeholder="User Name" name="uname" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input [formControl]="address" matInput placeholder="Address" name="address" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input [formControl]="email" matInput placeholder="Email" name="email" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input [formControl]="password" type="password" matInput placeholder="Password" name="password" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input [formControl]="cpassword" type="password" matInput placeholder="Confirm Password" name="password" required>
        </mat-form-field>
        <section>
          <label>Gender:</label><br/>
          <mat-radio-group [formControl]="gender">
            <mat-radio-button class="mat-radio" value="0">Male</mat-radio-button>
            <mat-radio-button class="mat-radio" value="1">Female</mat-radio-button>
            <mat-radio-button class="mat-radio" value="2">Other</mat-radio-button>
          </mat-radio-group>
        </section>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
    </mat-card-actions>
  </mat-card>
</div>
